html {
  position: relative;
  min-height: 100%;
}

body {
	background-color: #73645E;
	margin: 0 0 20px;
	padding: 20px;
}

body, h1, h2, p {
	font-family: 'Raleway', sans-serif;
  color: #73645E;
}

h1 {
  font-size: 38px;
  font-weight: 600;
}

p {
  font-size: 12px;
}

footer {
	height: 20px;
	text-align: center;
	font-size: 10px;
	color: rgb(245, 242, 233);
	width: 100%;
}

a.social {
	font-size: 24px;
}

a.social:link, a.social:visited, a.social:active {
	color: #73645E;
}

a.social:hover {
	color: #27B8FF;
}

.one {
	padding-right: 30px;
}

.two {
	padding-left: 0px;
}

.main {
  padding-top: 10%;
}

.justify {
  text-align: center;
}

@media only screen {
  footer {
    position: relative;
    bottom: 0;
    left: 0;
    overflow: auto;
  }

	.screenshot {
		text-align: center;
	}

	.background-image {
	  background-image: url("img/dropnote_bg.jpg");
	  background-repeat: no-repeat;
	  background-size:auto;
		background-position: center center;
	  z-index: 0;
	}

	.romance {
		width: auto;
		margin-left: 40px;
		margin-right: 40px;
		margin-bottom: 40px;
	}
}

@media only screen and (min-width: 64.063em) {
  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
  }

	.screenshot {
		text-align: right;
	}

	.background-image {
	  background-image: url("img/dropnote_bg.jpg");
	  background-repeat: no-repeat;
	  background-size:cover;
		background-position: center center;
	  z-index: 0;
	}

	.romance {
		width: 80%;
		margin-left: 0px;
	}
}

.appstore {
  height: 40px;
}

.header {
  margin-bottom: 20px;
}

.romance {
  margin-top: 70px;
  padding: 10px 40px;
  border-radius: 6px;
  text-align: center;
	background: rgb(245, 242, 233);
  background: rgba(245, 242, 233, 0.95);
}

.medium-left-margin {
	margin-left: 10px;
}

.medium-right-margin {
	margin-right: 10px;
}

.iphone {
	height: 500px;
}
